/* ------------------------------ */
/* By Rik Janssen / Betacore.tech */
/* ------------------------------ */

/* the form styles */

.bcAGGT_thumbnail{
	padding: 10px;
	border: 1px solid #DAE1E7;
	background-color: #fff;
	display: inline-block;
	min-width: 25em;
	border-radius: 2px;
	overflow: hidden;
	box-sizing: border-box;

}

.bcAGGT_thumbnail img{
	border: 1px solid #CDD2D8;
	background-color: #fff;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
}

.bcAGGT_thumbnail p{
	margin: 0px !important;
	padding: 0px !important;
	line-height: 19px;
}

/* the plugin page footer */

.bcALG_footer{
	overflow: hidden;
	margin-top: 50px;
	padding: 25px;
	margin-right: 20px;
	border: 1px solid #D6D6D6;
    background-color: #fff;
    border-radius: 3px;
	color: #888 !important;
}

.bcALG_plugins{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.bcALG_mailinglist{
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #EBEBEB;
    margin-bottom: 20px;
    
}


/* the admin bar label */

li.bcAGGT_gate a.ab-item{
	background-color: #0088C9 !important;
	color: #fff !important;
}

li.bcAGGT_gate a.ab-item:hover{
	background-color: #F15A29 !important;
	color: #fff !important;
}