#bcAGGT_container{
	width: 100%;
	height: 100vh;
	background-color: #131619;
	position: fixed;
	z-index: 9999999999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	text-align: center;
	overflow: auto;
}
    
.bcAGGT_message_box{
	width: 600px;
	background-color: rgba(32,37,42,0.90);
	padding: 50px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #2E353C;
}

img.bcAGGT_gate_logo{
	max-height: 80px;
}

.bcAGGT_age_message{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 19px;
	overflow: hidden;
	color: #fff;
}

.bcAGGT_age_form{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-gap: 10px;
}

.bcAGGT_age_form div{
	position: relative;
}

.bcAGGT_age_form input[type="text"]{
	width: 100%;
	display: block;
	background-color: #3C454E;
	color: #fff;
	border: 1px solid #2E353C;
	border-radius: 3px;
}

.bcAGGT_age_form label{
	width: 100%;
	display: block;
	font-size: 17px;
	line-height: 19px;
	color: #fff;
}

.bcAGGT_age_cookies{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	text-align: left;
	background-color: #2E353C;
	color: #fff;
	font-size: 15px;
	line-height: 17px;
	overflow: hidden;
	border-radius: 3px;
}

.bcAGGT_age_cookies input{
	margin-right: 10px;
}

.bcAGGT_error_message{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	text-align: left;
	background-color: #0073aa;
	color: #fff;
	font-size: 15px;
	line-height: 17px;
	border-radius: 3px;	
}

#bcAGGT_submit{
	padding: 10px 15px;
	width: 100%;
	border-radius: 3px;
}

@media only screen and (max-width:620px) {
	
	#bcAGGT_container{
		width: 100%;
		height: 100%;
		padding: 10px;
		display: block;

	}

	.bcAGGT_message_box{
		width: 100%;
		padding: 20px;
	}
}
