#bcAGGT_container{
	width: 100%;
	height: 100vh;
	background-color: #000000;
	position: fixed;
	z-index: 9999999999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	text-align: center;
	overflow: auto;
}
    
.bcAGGT_message_box{
	width: 600px;
	background-color: #fff;
	padding: 50px;
	margin: 0 auto;
}

img.bcAGGT_gate_logo{
	width: 100%;
}

.bcAGGT_age_message{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 19px;
	overflow: hidden;
	color: #000;
}
.bcAGGT_age_message_footer{
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 16px;
	overflow: hidden;
}

.bcAGGT_age_form{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-gap: 10px;
}

.bcAGGT_age_form div{
	position: relative;
}

.bcAGGT_age_form input[type="number"]{
	width: 100%;
	display: block;
	background-color: #eee;
	color: #000;
	border: 0px;
    border-radius: 0px;
}

.bcAGGT_age_form label{
	width: 100%;
	display: block;
    font-weight: normal;
	font-size: 17px;
	line-height: 19px;
	color: #ddd;
}

.bcAGGT_age_cookies{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 0px;
	text-align: center;
	color: #000 !important;
	font-size: 15px;
	line-height: 17px;
	overflow: hidden;
}

.bcAGGT_age_cookies label.gate-text{
    color: #000 !important;
    margin: 0px;
}

.bcAGGT_age_cookies input{
    max-width: 20px;
    min-height: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    float: none;
    position: relative;
    box-sizing: border-box;
}

.bcAGGT_age_cookies input:after{
    content: '';
    border: 1px solid #000;
    position: absolute;
    left: -5px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    box-sizing: border-box;
}

.bcAGGT_age_cookies input:before{
    content: '';
    background-color: transparent;
    box-sizing: border-box;
}

.bcAGGT_age_cookies input:checked::before{
    content: '';
    position: absolute;
    left: -2px;
    top: 3px;
    width: 16px;
    height: 16px;
    background-color: #000;
    z-index: 999;
}

.bcAGGT_error_message{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	text-align: left;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	line-height: 17px;
}

#bcAGGT_submit{
	padding: 12px 18px;
	width: 100%;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-size: 18px;
}


#bcAGGT_submit:hover{
    background-color: #fff;
    color: #000;
}



@media only screen and (max-width:620px) {
	
	#bcAGGT_container{
		width: 100%;
		height: 100%;
		padding: 10px;
		display: block;

	}

	.bcAGGT_message_box{
		width: 100%;
		padding: 20px;
	}
}
